.header {
    width: 100%;
    color: #EF2C34;
    background-color: #393536;
    box-shadow: 0 14px 28px red, 0 10px 10px red;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    justify-content: space-evenly;
    position: fixed;
    z-index: 99;
   
    
}

#headerLeft { 
    font-weight: bolder;
}

#headerRight {
    font-style: italic;
}